<div>
<h1>Edit Beer Details</h1>
<%= form_for @beer do |f| %>
	<p>
		<h3><%= f.label :name %></h3>
		<%= f.text_field :name %>
	</p>
	<p>
		<h3><%= f.label :style %></h3>
		<% style_array = Style.all.map { |s| [s.name, s.id]} %>
		<%= f.select(:style_id, style_array) %>	
	</p>
	<p> <h3><%= f.label :fermentables %></h3>
		<%= f.text_area :fermentables %>
	</p>
	<p>
		<h3><%= f.label :hops %></h3>
		<%= f.text_area :hops %>
	</p>
	<p>
		<h3><%= f.label :recipe %></h3>
		<%= f.text_area :recipe %>
	</p>
		<h3><%= f.label :notes %></h3>
		<%= f.text_area :notes %>
	</p>
	<%= f.submit "Change" %>
<% end %>
<%= link_to 'Back', {:action => 'index'} %>
</div>
