<h1>Brew A New Beer</h1>
<%= form_for @beer do |f| %>
  <div>
  	<p>
		<h3><%= f.label :name %></h3>
		<%= f.text_field :name %>
	</p>
	<p>
		<h3><%= f.label :style %></h3>
		<%= f.text_field :style %>	
	</p>
  </div>
  <div>
	<p> <h3><%= f.label :fermentables %></h3>
		<%= f.text_area :fermentables %>
	</p>
	<p>
		<h3><%= f.label :hops %></h3>
		<%= f.text_area :hops %>
	</p>
	<p>
		<h3><%= f.label :recipe %></h3>
		<%= f.text_area :recipe %>
	</p>
	<p> <h3><%= f.label :notes %></h3>
		<%= f.text_area :notes %>
	</p>
	<%= f.submit "Create" %>
  </div>
<% end %>
<%= link_to 'Back', {:action => 'index'} %>