<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
  	<%= render 'layouts/header' %>
  	<div>
        <% flash.each do |type, message| %>
	      <%= message %>
        <% end %>
        <section class="round">
    	  <%= yield %>
    	</section>
    	<%= render 'layouts/footer' %>
    </div>
  </body>
</html>
